[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[req_distinguished_name]
C  = US
ST = Montana
L  = Bozeman
O  = Sawtooth
OU = Consulting
CN = easynet.com
emailAddress = info@wolfssl.com

[req_ext]
subjectAltName = DNS:easynet.com,DNS:*.easynet.com,IP:1.1.1.1
